<div id="program-list" align="center">

<h1>Listing programs</h1>

<table>
  <tr>
    <th>Thumbnail</th>
    <th>Description</th>
    <th>Air time start</th>
    <th>Air time end</th>
    <th>Version</th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr class="<%= cycle('program-line-odd', 'program-line-even') %>">
    <td><%= image_tag program.thumbnail_link,{:class => 'program-thumbnail'} %></td>
    <td class="program-description">
    <dl>
        <dt><%= link_to program.name,build_imdb_link(program.imdb_info) %></dt>
        <dd><%= truncate(program.description.gsub(/<.*?>/,''),
              :length => 250) %></dd>
        <dd>Category:<%= program.category.name %></dd>
        <dd>Channel:<%= program.channel.name %></dd>
        <dd>Runtime:<%= program.run_time %></dd>
        <dd>Rating:<%= program.rating %></dd>
        <%if program.series%>
          <dd>
          Series:<%= program.series.name %>
          </dd>
        <%end%>
    </dl>
    </td>
    <td><%= program.air_time_start %></td>
    <td><%= program.air_time_end %></td>
    <td><%= program.version_id %></td>
    <td class="program-actions">
    <%= link_to 'View', program %><br/>
    <%= link_to 'Edit', edit_program_path(program) %><br/>
    <%= link_to 'Delete', program, :confirm => 'Are you sure?', :method => :delete %><br/>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @programs%><br/>
<%= link_to 'New Program', new_program_path %>
</div>