<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>TV Ticker </title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <link href="css/styles.css" rel="stylesheet" media="all" /> -->

</head>

<body>
<div id="main">
  <div id="top_bar">
    <div id="logo"></div>
    <ul id="menubar">
      <li><a href="/" class="selected">Home</a></li>
      <li><%= link_to("categories", :controller => "categories", :action => "index") %></li>
      <li><%= link_to("channels", :controller => "channels", :action => "index") %></li>
      <li> <%= link_to("series", :controller => "series", :action => "index") %></li>
      <li> <%= link_to("programs", :controller => "programs", :action => "index") %></li>
    </ul>
  </div>
  <div style="clear:both"></div>
  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>